@model IEnumerable<Report.Models.Reporter>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Insert">새데이터 넣기</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
@*             <th>
                @Html.DisplayNameFor(model => model.Text)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.result)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a> 

				</td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
   @*          <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.result)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id">삭제하기</a>
            </td>
        </tr>
}
    </tbody>
</table>
